/* =========
  Load Content
  A Simple Content Loader for Squarespace
  This Code is Licensed by Will-Myers.com
========== */

/*BASE STYLES*/
.wm-load-container .page-section{
  padding:0 !important;
  min-height: unset !important;
}
.wm-load-container .content-wrapper{
  padding:0 !important;
}
.wm-load-container .content-wrapper > .content{
  width:100% !important;
}

.wm-load-container [data-fluid-engine="true"]{
  container-type: inline-size;
}
.wm-load-container .fluid-engine {
  grid-template-columns: 0 repeat(24, minmax(0, var(--cell-max-width))) 0;
}
@media (max-width: 767px) {
  .wm-load-container .fluid-engine {
    grid-template-columns: 0 repeat(8, minmax(0, var(--cell-max-width))) 0;
  }
}

.load-plugin.wm-alert {
  display:none;
  border: 1px dashed red;
  padding:17px;
}
.sqs-edit-mode .load-plugin.wm-alert{
  display:block;
}
.sqs-edit-mode-active [data-wm-plugin="load"]{
  border: 1px dashed;
  padding:17px;
  min-height:68px;
}
.sqs-edit-mode-active [data-wm-plugin="load"]:after{
  content:'Load Content from: ' attr(data-target) '';
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  font-weight: bold;
  font-size:14px;
  text-align:center;
}

/*Fluid Engine Blocks In Classic Editor*/
.sqs-grid-12 .wm-load-container .fluid-engine .sqs-block{
  padding: 0;
}

/*Classic Editor Blocks In Fluid Engine*/